<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:scheme="tagmanager.c.com.ZenceGtm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity
          android:name="com.google.android.gms.tagmanager.PreviewActivity"
          android:label="@string/app_name"
          android:noHistory="true">  <!-- optional, removes the previewActivity from the activity stack. -->
          <intent-filter>
            <data android:scheme="tagmanager.c.com.google.android.tagmanager.examples.cuteanimals" />
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE"/>
          </intent-filter>
      </activity>
      <service android:name="com.google.android.gms.tagmanager.InstallReferrerService" />
      <receiver
        android:name="com.google.android.gms.tagmanager.InstallReferrerReceiver"
        android:exported="true">
        <intent-filter>
          <action android:name="com.android.vending.INSTALL_REFERRER" />
        </intent-filter>
      </receiver>
    </application>
</manifest>
